{% extends "empleados_registro/base.html" %} {% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Nombre Completo</td>
            <td>Movil</td>
            <td>Posicion</td>
            <td>
                <a href="{% url 'empleados_insert' %}" class="btn btn-success">
                    <i class="fas fa-plus"></i> Añadir
                </a>
            </td>

        </tr>
    </thead>
    <tbody>
        {% for empleados in empleados_lista %}
        <tr>
            <td>{{empleados.nombrecompleto}}</td>
            <td>{{empleados.movil}}</td>
            <td>{{empleados.posicion}}</td>
            <td>
                <a href="{% url 'empleados_update' empleados.id %}" class="btn btn-warning">
                    <i class="far fa-edit fa-lg"></i>
                </a>
                <form action="{% url 'empleados_delete' empleados.id %}" method="post" class="d-inline">
                    {%csrf_token%}
                    <button type="submit" class="btn btn-danger">
                        <i class="far fa-trash-alt fa-lg"></i>
                    </button>
                </form>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{% endblock content %}