{% extends "empleados_registro/base.html" %} {% load crispy_forms_tags %} {% block content %}
<form action="" method="post" autocomplete="off">
    {%csrf_token%} {{form.nombrecompleto|as_crispy_field}} {{form.movil|as_crispy_field}}
    <div class="row">
        <div class="col-md-5">
            {{form.empleadocodigo|as_crispy_field}}
        </div>
        <div class="col-md-7">
            {{form.posicion|as_crispy_field}}
        </div>
        <div class="row">
            <div class="col-md-8">
                <button type="submit" class="btn btn-success btn-block btn-lg">
                    <i class="fas fa-database"></i>
                    Enviar
                </button>
            </div>
            <div class="col-md-4">
                <a href="{% url 'empleados_list' %}" class="btn btn-secondary btn-block btn-lg">
                    <i class="fas fa-stream"></i> Lista
                </a>
            </div>
        </div>


</form>

{% endblock content %}